* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

.feedback {
    margin-top: 1rem;
}

.mainDiv {
    margin: 0.4rem;
    justify-content: center;
    display: flex;
}
.div1 {
    margin: 0.4rem;
    display: flex;
    width: 15%;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.subDiv {
    margin: 0.4rem;
    display: flex;
    height:1rem;
    width:40%

    
}
.div2 {
    margin: 0.4rem;
    display: flex;
    width: 10%;
}

.div3 {
    
    background-color:#ECAB3C;
    height: 2rem;
}

.worldDiv {
    margin: 0.4rem,0.4rem,0,0.4rem;
    justify-content: center;
    display: flex;
}
.worldDiv1 {
    margin: 0.4rem;
    display: flex;
    width: 15%;
}
.world {
    margin: 0.4rem;
    display: flex;
    width: 25rem;
    height:2rem;
    background-color:#ECAB3C;
    width: 40%
    
}
.worldDiv2 {
    margin: 0.4rem;
    display: flex;
    width: 10%;
}
.graph-wrapper{
    display: flex;
    flex-direction: column;
    

}
.heading {
    color: #ECAB3C;
    font-size: 35px;
}
.population-button,.name-button,.capital-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height:2rem;
    border-radius: 1rem;
    border-style: solid;
        
}

.sort-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.population-icon{

    border: none;
    background-color: white;
    font-size: 30px;
    margin-left: 0.3rem;
    
}
.fa-long-arrow-alt-up, .fa-long-arrow-alt-down {
    font-size: 20px;
    margin-left: 15px;
    opacity: 0.6;
}
.search-message {
    display: none;
    margin-top: 1rem;
    font-style: italic;
    font-size: 14px;
    color: rgb(236, 60, 163);;
}

.country-search{
    margin-top: 1rem;
    width: 40rem;   
    border-radius: 20px;
    padding: 0.75rem;
    border: 0.5px solid rgb(196, 191, 191);
    outline: 0;

}

.error-message {
    display: none;
}

.coutries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eeeff0;
    padding: 3rem 2rem;

}

.country-div {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    line-height: 1.5;
    width: 18rem;
    height: 15rem;

}

.flag-image{
    width: 8rem;
    height: 5rem;
    box-shadow: 0 0.5rem 0.5rem rgba(85, 75, 75, 0.7);
   
}

.country-name {
    margin-top: 1rem;
    color: rgb(236, 60, 163);
    font-weight: 700;
}

.subtitle, #number, .sort-buttons {
    margin-top: 1rem;
}
.statistics-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}


#countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeff0;
    padding: 3rem;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.arrow {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.arrow-up{
    border: none;
    background-color: white;
    font-size: 3rem;
    margin-left: 0.3rem;
    outline: 0;
}
button{
    cursor: pointer;
    background-color:  #ECAB3C;
    font-family: Raleway;
    font-weight: 600;

}
button:focus {
    outline: 0;
    border: none;
    
}
.population,.languages {
   margin-left: 0.5rem;
   width: 5rem;
   height: 2rem;
   border: none;
   border-radius: 3px;
}

.fa-chart-bar,.fa-arrow-up {
    text-decoration: none;
    color: #ECAB3C;
    margin-top: 1rem;
    font-size: 2rem;
    
}
.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


